package homepage

templ homepageTempl() {
	<html>
		<head>
			<title>Cluster Server</title>
		</head>
		<body>
			<h1>Hello World</h1>
			<p>
				<a href="/dashboard">Dashboard</a>
				<br/>
				<a href="/upstream">Models</a>
			</p>
		</body>
	</html>
}
